@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
   font-family: 'Montserrat', Arial; 
}
.home-button{
    text-decoration: none;
    color: black;
    display:inline-block;
}
.link{
    text-decoration: none;
    color: #ff9f0e;
}
.link:hover{
    color:#c07d18;
}
.header-p{
    float: left;
}
.home-button:hover{
    color: rgb(110, 110, 110); 
}
.nav-item{
    text-decoration: none;
    color: #ff9f0e;
    padding-right:1vw;
}
.nav-item:hover{
    color:#c07d18;
}
.copyright{
    opacity: 50%;
}
#fox{
    height: 10vh;
    width: 10vh;
    border: 1px solid black;
    border-radius: 100%;
    display:inline-block;
}
#me{
    height:20vh;
    width:20vh;
    border: 1px solid black;
    border-radius: 50%;
}
.tech-li{
    padding-bottom: 2vh;
    list-style-type: none;
}

/* job hover stuff */
.job {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .job:hover .dropdown-content {
    display: block;
  }
  .job-name{
      color:#ff9f0e;
  }
  .job-name:hover{
      color:#c07d18;
  }
  /* end job hover stuff */
  /* flex stuff */
.outer-div{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  /* end flex stuff */
  /* design */
  body{
      background: rgb(235, 235, 235);
  }